<p id="notice"><%= notice %></p>

<h1>Subscribed Customers</h1>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Access group</th>
        <th>Name</th>
        <th>Description</th>
        <th>Token</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @subscribed_customers.each do |subscribed_customer| %>
        <tr>
          <td><%= subscribed_customer.access_group.name %></td>
          <td><%= subscribed_customer.name %></td>
          <td><%= subscribed_customer.description %></td>
          <td><%= subscribed_customer.token %></td>
          <td><%= link_to 'Show', subscribed_customer %></td>
          <td><%= link_to 'Edit', edit_subscribed_customer_path(subscribed_customer) %></td>
          <td><%= link_to 'Destroy', subscribed_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Subscribed Customer', new_subscribed_customer_path %>
