<p id="notice"><%= notice %></p>

<h1>Bus Events</h1>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Vehicle</th>
          <th>Bus stop</th>
          <th>Route</th>
          <th>Event time</th>
          <th>Stopped</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @bus_events.each do |bus_event| %>
          <tr>
            <td><%= bus_event.vehicle.plate_number %></td>
            <td><%= bus_event.bus_stop.code %></td>
            <td>
              <% if(@bus_services.where(vehicle_id: bus_event.vehicle.id).first().present?) %>
                  <%= @services.find(@bus_services.where(vehicle_id: bus_event.vehicle.id).first().service_id).route_code%>
              <% else %>
                  <%= "-"%>
              <% end %>
                </td>
            <td><%= bus_event.event_time %></td>
            <% if bus_event.bus_speed == 1.0 %>
              <td>Yes</td>
            <% else %>
              <td>No</td>
            <% end %>
            <td><%= link_to 'Edit', edit_bus_events_path(bus_event) %></td>
            <td><%= link_to 'Destroy', bus_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
