<p id="notice"><%= notice %></p>

<h1>Bus Events</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Bus stop</th>
      <th>Event time</th>
      <th>Bus speed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bus_events.each do |bus_event| %>
      <tr>
        <td><%= bus_event.vehicle %></td>
        <td><%= bus_event.bus_stop %></td>
        <td><%= bus_event.event_time %></td>
        <td><%= bus_event.bus_speed %></td>
        <td><%= link_to 'Show', bus_event %></td>
        <td><%= link_to 'Edit', edit_bus_event_path(bus_event) %></td>
        <td><%= link_to 'Destroy', bus_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bus Event', new_bus_event_path %>
