<%= form_for :bus_stop, :url => { :action => "update_bus_stop_for_access_group"} do |form| %>
    <%= form.collection_check_boxes :bus_stop, BusStop.all, :id, :name, prompt: true do |b| %>
      <% if @access_group_bus_stop_ids.include?(b.object.id) %>
        <%= b.label(class: "form check_box") { b.check_box(checked: true, class: "add_margin") + b.text } %>
      <% else %>
        <%= b.label(class: "form check_box") { b.check_box(checked: false, class: "add_margin") + b.text } %>
      <% end  %>
    <% end  %>
    <br>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>