<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <%= form_with(model: access_group, local: true) do |form| %>
        <% if access_group.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(access_group.errors.count, "error") %> prohibited this access_group from being saved:</h2>

            <ul>
            <% access_group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, :class => 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_field :description, :class => 'form-control' %>
        </div>
        <ul></ul>
        <div class="actions">
          <%= form.submit :class => "btn btn-lg btn-info btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>