<p id="notice"><%= notice %></p>

<h1>File To Update File Packages</h1>

<table>
  <thead>
    <tr>
      <th>File to update</th>
      <th>File package</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_to_update_file_packages.each do |file_to_update_file_package| %>
      <tr>
        <td><%= file_to_update_file_package.file_to_update %></td>
        <td><%= file_to_update_file_package.file_package %></td>
        <td><%= link_to 'Show', file_to_update_file_package %></td>
        <td><%= link_to 'Edit', edit_file_to_update_file_package_path(file_to_update_file_package) %></td>
        <td><%= link_to 'Destroy', file_to_update_file_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File To Update File Package', new_file_to_update_file_package_path %>
