<p id="notice"><%= notice %></p>

<h1>File Packages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Archivos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_packages.each do |file_package| %>
      <tr>
        <td><%= file_package.name %></td>
        <td><%= button_to 'Ver Archivos', new_file_package_file_to_update_file_package_path(file_package_id: file_package.id), :method => 'get' %></td>
        <td><%= link_to 'Show', file_package %></td>
        <td><%= link_to 'Edit', edit_file_package_path(file_package) %></td>
        <td><%= link_to 'Destroy', file_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File Package', new_file_package_path %>
