<!DOCTYPE html>
<html>
  <head>
    <title>Zapo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home/index.html ">Zapo</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="nav justify-content-end">
          <% if user_signed_in? %>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="#">Action</a></li>
              <li><a tabindex="-1" href="#">Another action</a></li>
              <li><a tabindex="-1" href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#">Separated link</a></li>
            </ul>
            <li>
              <span style="display:inline-block; width: 150px;"><%= link_to('Customers', subscribed_customers_path) %></span>
            </li>
            <li>
              <span style="display:inline-block; width: 150px;"><%= link_to('Services', services_path) %></span>
            </li>
            <li>
              <span style="display:inline-block; width: 150px;"><%= link_to('Access Group', access_groups_path) %></span>
            </li>
            <li>
              <span style="display:inline-block; width: 150px;"><%= link_to('Access Point', access_points_path) %></span>
            </li>
            <li>
              <span style="display:inline-block; width: 150px;"><%= link_to('Bus Stop', bus_stops_path) %></span>
            </li>
            <li>
              <span style="display:inline-block; width: 150px;"><%= link_to('File to Update', file_to_updates_path) %></span>
            </li>
            <li>
              <span style="display:inline-block; width: 150px;"><%= link_to('File Package', file_packages_path) %></span>
            </li>
            <li>
              <span style="display:inline-block; width: 90px;"><%= link_to('Edit User', edit_user_registration_path) %></span>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-11"><%= yield %></div>
    </div>
  </body>
</html>
